/* This CSS is a free template by me, please do not steal this CSS, use it for your own comms, take credibility, or remove my credit that I put in the CSS. */

body {
  background: url('https://iili.io/KLi1m8X.jpg') no-repeat center center fixed;
  color: #271E1A !important;
  background-size: cover;
}

.col-md-9.col-xs-12 {
  background: none !important;
  border: 4px double #301D0F !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

div.container.main {
  background: rgba(39, 30, 26, 0.5) !important;
  border: 4px double #301D0F !important;
  border-radius: 15px !important;
  border-left: none !important;
}

.navbar {
  background: #301D0F !important;
  border: 1px solid #000000 !important;
  border-radius: 15px !important;
  border-bottom: none !important;
  border-top: none !important;
  border-right: none !important;
  box-shadow: none !important;
  font-family: "Times New Roman", Times, serif;
}

.navbar li a {
  color: #F3CB98 !important;
}

  .navbar li a:hover {
    background: #493831 !important;
  }

.navbar-header > a > img {
  content: url('https://iili.io/KQVO2HJ.png'); !important;
  width: 200px;
}

