body {
  background: url('https://iili.io/KLi1m8X.jpg') no-repeat center center fixed;
  color: #271E1A !important;
  background-size: cover;
}

.col-md-9.col-xs-12 {
  background: none !important;
  border: 4px double #301D0F !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

div.container.main {
  background: rgba(39, 30, 26, 0.5) !important;
  border: 4px double #301D0F !important;
  border-radius: 15px !important;
  border-left: none !important;
}

.navbar {
  background: #301D0F !important;
  border: 1px solid #000000 !important;
  border-radius: 15px 50px !important;
  border-bottom: none !important;
  border-top: none !important;
  border-right: none !important;
  box-shadow: none !important;
  font-family: "Times New Roman", Times, serif;
}

.navbar li a {
  color: #F3CB98 !important;
}

  .navbar li a:hover {
    background: #301D0F !important;
    color: #493831 !important;
    border: 0 0 10px #493831, 0 0 20px, #493831, 0 0 40px #493831; !important;
    text-shadow: 0 0 5px #493831, 0 0 10px #493831, 0 0 20px #493831; !important;
    transition: 0.8s !important;
  }

.navbar-header > a > img {
  content: url('https://iili.io/KQWqFxn.png'); !important;
  width: 100px;
}

.breadcrumb {
  background: #301D0F !important;
  color: #F3CB98 !important;
  border: 1px solid #000000 !important;
  border-radius: 15px !important;
}

.feature {
  background: #301D0F !important;
  color: #F3CB98 !important;
  border: 1px solid #000000 !important;
    border-radius: 15px !important;
}

.topbar {
  background: #301D0F !important;
  color: #F3CB98 !important;
  border: 1px solid #000000 !important;
    border-radius: 15px !important;
  border-top: none !important;
  border-bottom: 4px solid #000000 !important;
}

    .sidebar {
        background: none !important;
        color: #F3CB98 !important;
        border: none !important;
        }

    .panel {
        background: #301D0F !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        box-shadow: none !important;
        }

.s-chat-message:nth-child(even) {
    background: #301D0F !important;
    color: #F3CB98 !important;
    border: 1px dashed #000000 !important;
}

.s-chat-message:nth-child(odd) {
    background: #594A3E !important;
    color: #F3CB98 !important;
    border: 1px dashed #000000 !important;
}

.s-chat-message_timestamp {
    color: #F3CB98 !important;
}

#chatMessageContainer {
    color: #301D0F !important;
    border: none !important;
}

button#label_currentChannel {
    background: #301D0F !important;
    color: #F3CB98 !important;
    border: none !important;
}

.s-chat-message_content {
    background: none !important;
    color: #F3CB98 !important;
    border: none !important;
}

div#chatMessagePinned {
    background: #301D0F !important;
    color: #F3CB98 !important;
    border: 1px solid #000000 !important;
}

    h1 {
        text-align: center !important;
        color: #F3CB98 !important;
        font-family: "Times New Roman", Times, serif;
        }

    h3 {
        text-align: center !important;
        color: #F3CB98 !important;
        font-family: "Times New Roman", Times, serif;
        }

    .top {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        font-family: "Times New Roman", Times, serif;
        }

    th {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        font-family: "Times New Roman", Times, serif;
        }

    .bottom {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        font-family: "Times New Roman", Times, serif;
        }

    .left {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        font-family: "Times New Roman", Times, serif;
        }

    td {
        background: none !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        font-family: "Times New Roman", Times, serif;
        }

    .right_cub {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        font-family: "Times New Roman", Times, serif;
        }
    
.cave-grid {
    background: #301D0F !important;
    color: #F3CB98 !important;
    border: 1px solid #000000 !important;
    border-radius: 15px !important;
}

.cave-grid:hover {
    text-shadow: 0 0 5px #493831, 0 0 10px #493831, 0 0 20px #493831; !important;
    transition: 0.8s !important;
}

.mound-grid {
    background: #301D0F !important;
    color: #F3CB98 !important;
    border: 1px solid #000000 !important;
    border-radius: 15px !important;
}

.mound-grid:hover {
    text-shadow: 0 0 5px #493831, 0 0 10px #493831, 0 0 20px #493831; !important;
    transition: 0.8s !important;
}

    a:link {
        color: #F3CB98 !important;
        }

    a:visited {
        color: #F3CB98 !important;
        }

    a:hover {
        color: #F3CB98!important;
        }

    .topbar a:link {
        color: #F3CB98 !important;
        transistion: 0.5 !important;
        }

    .alert-danger {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        }

    .alert-success {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        }

    .attack-won {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        }

    .attack-lost {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        }

    input[typ="button"] {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }
    
    input[type="submit"] {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
            }

    input[type="text"] {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    input[type="password"] {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    textarea {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    select {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    input[type="button"]:hover {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    input[type="submit"]:hover {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    input[type="text"]:focus {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    input[type="password"]:focus {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    textarea:focus {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    select:focus {
        background: #301D0F !important;
        color: #F3CB98 !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        text-align: center !important;
        text-shadow: none !important;
        box-shadow: none !important;
        }

    .progress {
        background: #301D0F !important;
        border: 1px solid #000000 !important;
        border-radius: 15px; !important;
        }

    .progress div {
        color: #F3CB98 !important;
        }

    /* default and impression */
    .progress-bar {
        background: #493831 !important;
        }

    .progress-bar-warning {
        background: #493831 !important;
        }

    .progress-bar-danger {
        background: #493831 !important;
        }

    .progress-bar-success {
        background: #493831 !important;
        }

    .progress-bar {
        background: #493831 !important;
        }

    /* comment box */
    #commentBox {
    border: 1px solid #000000 !important;
    border-radius: 5px !important;
    height: 200px !important;
    background: #301D0F !important;
    color: #F3CB98 !important;  
    box-shadow: none !important;
    }

/* lion image */
#lion_image>div {
    border-radius: 10px;
    border: 1px solid #000000 !important;
    }
